<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">
    <title>St Jude AWS</title>
</head>

<body>

    {% block content %}
    <div class="container">
        <img src="{{ url_for('static', filename='images/stjude_logo.png') }}" alt="St.Jude" width="300" height="120">
        <h2 class="title">Welcome to the St. Jude AWS Cloud System</h2>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" action="/">
            {{ form.csrf_token }}
            <div class="form-field">{{ form.account.label }} {{ form.account }}</div>
            <div class="form-field">{{ form.pwd.label }} {{ form.pwd }}</div>
            <br>
            <div class="form-field">{{ form.machine.label }} {{ form.machine }}</div>
            <div class="form-field">{{ form.disk_size.label }} {{ form.disk_size }}</div>
            <div class="form-field">{{ form.time.label }} {{ form.time }}</div>
            <div class="form-field">{{ form.recaptcha.label }} {{ form.recaptcha }}</div>
            <br>
            {{ form.submit1 }}
            <br>
            <div class="text"><a href = "{{ url_for('signup') }}">Create a new account</a></div>
            <div class="text"><a href = "">Forgot your password?</a></div>
            <br>
            <br>
            <br>
            <br>
            <div class="text">Department of Immunology. Hyunjin Kim & Jeremy Crawford</div>
            <div class="text">If you have any questions or issues, please email me at
                <a href = "mailto:hyunjin.kim@stjude.org">
                    hyunjin.kim@stjude.org
                </a>
            </div>
        </form>
    </div>
    {% endblock %}

</body>

</html>