<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">
    <title>Sign Up</title>
</head>

<body>

    {% block content %}
    <div class="container">
        <h2 class="title">Sign Up for the St. Jude AWS Cloud System</h2>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <span style="color: #ff0000">{{ message }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        <form method="POST" action="/sign-up" novalidate>
            {{ form.csrf_token }}
            <div class="form-field">{{ form.account2.label }} {{ form.account2 }}</div>
            <div class="form-field">{{ form.pwd1.label }} {{ form.pwd1 }}</div>
            <div class="form-field">{{ form.pwd2.label }} {{ form.pwd2 }}</div>
            <br>
            <div class="form-field">{{ form.name.label }} {{ form.name }}</div>
            <div class="form-field">{{ form.email.label }} {{ form.email }}</div>
            <div class="form-field">{{ form.pNum.label }} {{ form.pNum }}</div>
            <br>
            {{ form.submit2 }}
            <br>
        </form>
    </div>
    {% endblock %}

</body>

</html>