<!DOCTYPE html>
<html lang="en">
<body>
	<form action = "http://localhost:5000/login" method = "post">
		<p>ID:</p>
		<p><input type = "text" id = "id" name = "id" /></p>
		<p>Password:</p>
		<input type = "password" id = "pwd" name = "pwd">
		<p>Amazon EC2</p>
		<select id="machine" name="machine">
  			<option value="t3a.medium">[General Purpose] t3a.medium (2 vCPUs, 2.2 GHz, AMD EPYC 7571, 4 GB memory)</option>
			<option value="t3a.xlarge">[General Purpose] t3a.xlarge (4 vCPUs, 2.2 GHz, AMD EPYC 7571, 16 GB memory)</option>
			<option value="t3a.2xlarge">[General Purpose] t3a.2xlarge (8 vCPUs, 2.2 GHz, AMD EPYC 7571, 32 GB memory)</option>
			<option value="m5n.xlarge">[General Purpose] m5n.xlarge (4 vCPUs, 3.1 GHz, Intel Xeon Platinum 8259, 16 GB memory)</option>
			<option value="m5n.2xlarge">[General Purpose] m5n.2xlarge (8 vCPUs, 3.1 GHz, Intel Xeon Platinum 8259, 32 GB memory)</option>
			<option value="m5n.4xlarge">[General Purpose] m5n.4xlarge (16 vCPUs, 3.1 GHz, Intel Xeon Platinum 8259, 64 GB memory)</option>
			<option value="m5n.8xlarge">[General Purpose] m5n.8xlarge (32 vCPUs, 3.1 GHz, Intel Xeon Platinum 8259, 128 GB memory)</option>
			<option value="c5.2xlarge">[Compute Optimized] c5.2xlarge (8 vCPUs, 3.4 GHz, Intel Xeon Platinum 8124M, 16 GB memory)</option>
			<option value="c5.4xlarge">[Compute Optimized] c5.4xlarge (16 vCPUs, 3.4 GHz, Intel Xeon Platinum 8124M, 32 GB memory)</option>
			<option value="c5.9xlarge">[Compute Optimized] c5.9xlarge (36 vCPUs, 3.4 GHz, Intel Xeon Platinum 8124M, 72 GB memory)</option>
			<option value="c5.12xlarge">[Compute Optimized] c5.12xlarge (48 vCPUs, 3.6 GHz, 2nd Gen Intel Xeon Platinum 8275CL, 96 GB memory)</option>
			<option value="r5a.xlarge">[Memory Optimized] r5a.xlarge (4 vCPUs, 2.5 GHz, AMD EPYC 7571, 32 GB memory)</option>
			<option value="r5a.2xlarge">[Memory Optimized] r5a.2xlarge (8 vCPUs, 2.5 GHz, AMD EPYC 7571, 64 GB memory)</option>
			<option value="r5a.4xlarge">[Memory Optimized] r5a.4xlarge (16 vCPUs, 2.5 GHz, AMD EPYC 7571, 128 GB memory)</option>
			<option value="r5a.8xlarge">[Memory Optimized] r5a.8xlarge (32 vCPUs, 2.5 GHz, AMD EPYC 7571, 256 GB memory)</option>
		</select>
		<p>Disk Size</p>
		<select id="disk_size" name="disk_size">
  			<option value="gb20">20GB</option>
			<option value="gb30">30GB</option>
			<option value="gb50">50GB</option>
			<option value="gb100">100GB</option>
			<option value="gb200">200GB</option>
			<option value="gb300">300GB</option>
			<option value="gb500">500GB</option>
			<option value="tb1">1TB</option>
			<option value="tb2">2TB</option>
			<option value="tb3">3TB</option>
			<option value="tb5">5TB</option>
		</select>
		<p>Time</p>
		<select id="hours" name="hours">
  			<option value="hours2">2hours</option>
			<option value="hours3">3hours</option>
			<option value="hours5">5hours</option>
			<option value="hours8">8hours</option>
			<option value="hours12">12hours</option>
			<option value="hours24">24hours</option>
			<option value="hours36">36hours</option>
			<option value="hours48">48hours</option>
			<option value="hours72">72hours</option>
			<option value="hours120">120hours</option>
			<option value="hours168">168hours</option>
			<option value="hours336">336hours</option>
		</select>
		<p><input type = "submit" value = "submit" /></p>
	</form>
</body>
</html>
